* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    background-color: burlywood;
}

.title {
    margin-top: 10vh;
}

.btn-clear, .btn-new-grid {
    margin-top: 5vh;
    width: 100px;
    height: 30px;
}

.select-container {
    margin-top: 2.5vh;
}

.container {
    display: flex;
    gap: 0;
    width: 512px;
    height: 512px;
    margin-top: 2.5vh;
    border: 5px gray solid;
    background-color: white;
}

.hover-color {
    background-color: black;
}